<div class="row">
  <form [formGroup]="RCLoginForm" (ngSubmit)="onSubmitRCLogin()">
    <div class="col-md-12 email">
      <mat-form-field>
        <input matInput placeholder="Username or Email" formControlName="username" type="text">
      </mat-form-field>
      <div *ngIf="loginForm.username.errors && submitted" class="invalidStatus">
        <div *ngIf="loginForm.username.errors.required">Enter username</div>
        <div *ngIf="loginForm.username.errors.minlength">Enter min 6 chars</div>
      </div>
    </div>
    <div class="col-md-12">
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <div *ngIf="loginForm.password.errors && submitted" class="invalidStatus">
        <div *ngIf="loginForm.password.errors.required">Enter password</div>
        <div *ngIf="loginForm.password.errors.minlength">Enter min 6 chars</div>
      </div>
    </div>
    <div class="col-md-12 loginbtn">
      <button type="submit" mat-raised-button [disabled]="RCLoginForm.invalid">LOGIN</button>
    </div>
    <div class="col-md-12">
      <div class="d-flex justify-content-center links">
        Don't have an account?<a (click)="redirectToSignup()" class="text-primary">Sign Up</a>
      </div>
      <div class="d-flex justify-content-center links">
        <a href="#">Forgot your password?</a>
      </div>
    </div>
    </form>
  </div>